.zb-column-is-1, .zb-column-is-2, .zb-column-is-3, .zb-column-is-4, .zb-column-is-5, .zb-column-is-6, .zb-column-is-7, .zb-column-is-8, .zb-column-is-9, .zb-column-is-10, .zb-column-is-11, .zb-column-is-12, .zb-column-is-mobile-1, .zb-column-is-mobile-2, .zb-column-is-mobile-3, .zb-column-is-mobile-4, .zb-column-is-mobile-5, .zb-column-is-mobile-6, .zb-column-is-mobile-7, .zb-column-is-mobile-8, .zb-column-is-mobile-9, .zb-column-is-mobile-10, .zb-column-is-mobile-11, .zb-column-is-mobile-12, .zb-column-is-tablet-1, .zb-column-is-tablet-2, .zb-column-is-tablet-3, .zb-column-is-tablet-4, .zb-column-is-tablet-5, .zb-column-is-tablet-6, .zb-column-is-tablet-7, .zb-column-is-tablet-8, .zb-column-is-tablet-9, .zb-column-is-tablet-10, .zb-column-is-tablet-11, .zb-column-is-tablet-12, .zb-column-is-widescreen-1, .zb-column-is-widescreen-2, .zb-column-is-widescreen-3, .zb-column-is-widescreen-4, .zb-column-is-widescreen-5, .zb-column-is-widescreen-6, .zb-column-is-widescreen-7, .zb-column-is-widescreen-8, .zb-column-is-widescreen-9, .zb-column-is-widescreen-10, .zb-column-is-widescreen-11, .zb-column-is-widescreen-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
}

.zb-control-wrap .zb-input-label {
    position: relative;
    display: block;
    margin-bottom: 4px;
}

.zb-champion-standard-theme .zb-card-body {
    font-size: 1rem;
}

.zb-control-wrap .zb-control, .zb-control-wrap .zb-input-label {
    position: relative;
    display: block;
    margin-bottom: 4px;
}

.zb-champion-standard-theme .zb-card-body {
    font-size: 1rem;
}

.zb-content-wrapper {
    align-items: center;
}

.zb-champion-standard-theme {
    font-family: RNHouseSans, Arial, sans-serif;
    color: #646068;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.zb-champion-standard-theme .zb-input {
    color: #000;
}

.zb-champion-standard-theme .zb-input {
    font-size: 1rem;
}

.zb-champion-standard-theme .zb-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    padding: 0 12px;
    color: #646068;
    border: 1px solid #646068;
    border-radius: 8px;
}

.zb-champion-standard-theme {
    font-family: RNHouseSans, Arial, sans-serif;
    color: #646068;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

@media (min-width: 1280px) {
    .zb-column-is-1, .zb-column-is-2, .zb-column-is-3, .zb-column-is-4, .zb-column-is-5, .zb-column-is-6, .zb-column-is-7, .zb-column-is-8, .zb-column-is-9, .zb-column-is-10, .zb-column-is-11, .zb-column-is-12, .zb-column-is-mobile-1, .zb-column-is-mobile-2, .zb-column-is-mobile-3, .zb-column-is-mobile-4, .zb-column-is-mobile-5, .zb-column-is-mobile-6, .zb-column-is-mobile-7, .zb-column-is-mobile-8, .zb-column-is-mobile-9, .zb-column-is-mobile-10, .zb-column-is-mobile-11, .zb-column-is-mobile-12, .zb-column-is-tablet-1, .zb-column-is-tablet-2, .zb-column-is-tablet-3, .zb-column-is-tablet-4, .zb-column-is-tablet-5, .zb-column-is-tablet-6, .zb-column-is-tablet-7, .zb-column-is-tablet-8, .zb-column-is-tablet-9, .zb-column-is-tablet-10, .zb-column-is-tablet-11, .zb-column-is-tablet-12, .zb-column-is-widescreen-1, .zb-column-is-widescreen-2, .zb-column-is-widescreen-3, .zb-column-is-widescreen-4, .zb-column-is-widescreen-5, .zb-column-is-widescreen-6, .zb-column-is-widescreen-7, .zb-column-is-widescreen-8, .zb-column-is-widescreen-9, .zb-column-is-widescreen-10, .zb-column-is-widescreen-11, .zb-column-is-widescreen-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
  }

.zb-champion-standard-theme .zb-buttons:last-child {
    margin-bottom: -0.5rem;
}

.zb-champion-standard-theme .zb-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.zb-champion-standard-theme .zb-buttons > .zb-button {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.zb-champion-standard-theme .zb-button:hover {
    text-decoration: none;
}

.zb-champion-standard-theme .zb-button {
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 0 32px;
    cursor: pointer;
    text-decoration: none;
    font-family: RNHouseSans, Arial, sans-serif;
    min-width: 96px;
    border-radius: 25px;
}
.zb-champion-standard-theme .zb-button-primary {
    padding: 12px 32px;
    background-color: #00deb6;
    color: black;
    border: none;
    line-height: 1.45;
}

.zb-champion-standard-theme .zb-buttons > .zb-button-link {
    min-width: auto;
    padding: 0 0.5rem;
}

.zb-champion-standard-theme .zb-buttons > .zb-button {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.zb-champion-standard-theme .zb-button-link {
    border-radius: 0;
}

.zb-champion-standard-theme .zb-button {
    box-sizing: border-box;
}

.zb-champion-standard-theme .zb-button-link {
    border-radius: 0;
}

.zb-champion-standard-theme .zb-button {
    font-size: 18px;
}
.zb-champion-standard-theme .zb-button-link {
    display: inline;
    color: #5e10b1;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    line-height: inherit;
    cursor: pointer;
    -moz-user-select: text;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}